mymodules/__pycache__/vsearch.cpython-36-pytest-5.0.1.pyc
Pipfile.lock
vsearch.log
.idea/head_first_tutorials.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/mystery.cpython-36.pyc
files/fileread.py
files/filewrite.py
files/todos.txt
mymodules/vsearch.py
mymodules/__pycache__/vsearch.cpython-36.pyc
webapp/.vscode/settings.json
